<?xml version="1.0" encoding="utf-8"?>
<WebServiceRegistrationInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegisteredVIs>
    <VIRegistrationInfo>
      <Type>HttpGetMethod</Type>
      <VIComponentName>SimpleAPI::Method1.gvi</VIComponentName>
      <UrlPath>TestMethods/Method</UrlPath>
    </VIRegistrationInfo>
  </RegisteredVIs>
</WebServiceRegistrationInfo>
